/* Général */
/*
.btn-primary,
{
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover,
  &:focus {
    color: #fff;
    background-color: darken($brand-primary, 10%);
    border-color: darken($brand-primary, 10%);
  }
}*/

/* Login */
.login-identityprovider-btn
{
  color: #fff;
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover,
  &:focus {
    color: #fff;
    background-color: darken($brand-primary, 10%);
    border-color: darken($brand-primary, 10%);
  }
}

/* Home */
#homeCarousel {
  border: none;
  -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
  box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
}

#homeCarousel .carousel-caption {
  background-color:#EF7F05;
  border-radius: 0.5rem;
}

#homeCarousel .carousel-indicators li {
  background-color: #006d94;
}
.coursename {
  font-size: 2em;
}

.dashboard-card a {
  text-decoration:none;
}

/* Footer */
#page-footer .column-left{
  display: none;
}

#page-footer .column-center{
  text-align:right;
  flex: 0 0 100%;
  max-width: 100%;
}

#page-footer .column-right{
  display: none;
}

.footer-columns > .row {
  justify-content: flex-end;
}

.logininfo {
  display: none !important;
}
.column-center a  {
  background-color: #ef7f05 !important;
  color: #fff !important;
  padding: 0.375rem 0.75rem !important;
  display:inline-block !important;
  text-decoration:none;
  border-radius: .5rem;
}

.column-center a:hover  {
  background-color: #ca6b04 !important;
}

#page-footer .contactsitesupport:hover {
  background-color: #1f7e9a !important;
}
#page-footer .contactsitesupport {
  background-color: transparent !important;
}
.usertour {
  margin-top:10px;
}
#page-footer .copyright {
  display:none;
}

@media (min-width: 800px) {
  .footer-columns>.row {
    background: url('[[pix:theme_mooveu|footer-logo]]');
    background-repeat: no-repeat;
    background-color: #282829;
  }
}

/* Default Image Course */
.dashboard-card-img[style*="data:image/svg+xml"] {
  background-image:url('[[pix:theme_mooveu|default-course-img]]') !important;
}

/* courses cards fix in search page */
.pagelayout-standard {
  .dashboard-card {
    position: relative;
    width: calc(33.33% - 2rem) !important;
    margin: 1rem;

    .dashboard-card-footer {
      border-radius: .5rem;
    }

    .card-body {
      padding: .8rem;
    }

    .customfields {
      .customfield {
        font-size: 80%;
        margin-bottom: .25rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        .customfieldname,
        .customfieldseparator {
          font-weight: 500;
        }
      }
    }

    .enrolmenticons {
      position: absolute;
      bottom: 8px;
      right: 0;

      .enrolmenticon {
        padding: 4px 8px;
        background-color: #fff;
        color: $brand-primary;
        border-radius: .5rem;
        margin: 0 4px;

        .icon {
          margin-right: 0;
        }
      }
    }

    .course-contacts {
      padding: 0 0.8rem 0.8rem 0.8rem;

      .contact {
        display: flex;

        &:not(:first-of-type) {
          margin-top: .4rem;
        }

        img {
          width: 48px;
          height: 48px;
          border: 1px solid $gray-300;
        }

        p {
          margin-left: .4rem;
          margin-bottom: 0;

          &.role {
            color: $gray-900;
            font-size: 80%;
          }
        }
      }
    }

    .dashboard-card-footer {
      padding: 0 .8rem .8rem .8rem;
    }
  }
}

